#bode {

    background-color: aqua;
    
}

*,
*:before,
*:after {

    box-sizing: border-box;

}


#principal {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

}

.toolbar{

  

    list-style: none;
    padding: 0;
    margin: 1rem;
    overflow: hidden;
    border-radius: 10px;

}

.tool--btn{
    margin: 0px;
    border: none;
    padding: 0.7rem;
    font-size: 16px;
    cursor: pointer;

}

#output {
   
    background-color: white;
    width: 60%;
    height: 400px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), rgba(0, 0, 0, 0.23);
    padding: 20px 10px;
    


}